/* Make the invisible visible */

* {
  border: thin red solid;
}


.row{
	clear: both;
}

.heading{
	background-color: gray;
	height: 200px;
}

.one_column{
	width: 33%;
	float: left;
}

.link{
	background-color: blue;
  	color: white;
  	text-decoration: none;
}
.two_columns{
	width: 66%;
	float: left;
}

.skinny_column{
	width: 25%;
	float: left;
}

